html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

button {
    background-color: #3882f6;
    color:  white;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

img {
    max-width: auto;
    max-height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 0 15%;
    align-items: center;
    justify-content: space-between;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    padding: 5% 15%;
    gap: 50px;
}

.footer {
    background-color: #1f2937;
    justify-content: center;
    display: flex;
}

#header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

#main-text {
    font-size: 48px;
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}